[tool.black]
line-length = 89
target-version = ["py310", "py311"]
skip-string-normalization = false

[tool.isort]
profile = "black"
line_length = 89
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

[tool.autoflake]
remove_all_unused_imports = true
remove_unused_variables = true
ignore_init_module_imports = true
